@media screen and (max-width: 480px){

	.work{
		height: 220px;
	}

	/*----- layout ----*/
	.grey-bg, .white-bg{
		padding: 40px 0;
	}
	/*---- hero -----*/
	.hero-content{
		min-width: 280px;
		padding: 25px;
	}
	.menu-wrap{width: 220px;}
	.mouse-icon{bottom: 5px;}


	/*---- blog -----*/

	/*---- quote -----*/
	.wrap-about{
		padding: 0 0 20px 0;
		min-height: 400px !important;
	}
	.wrap-about .w-content{
		left: 0;
		right: 0;
		width: 100%;
		top: 0;
		padding: 30px 0;
		transform: none;
	}


	/*------- testimonial -------*/
	#testimonial{ height: 700px;}

	.skillst {margin-top: 50px;}
	.zakazat{
		opacity: 1;
		-webkit-transform:scale(1) ;
		-moz-transform:scale(1) ;
		-ms-transform:scale(1) ;
		-o-transform:scale(1) ;
		transform:scale(1) ;}
	}


	@media screen and (max-width: 768px){
		.footer-bottom .number{
			text-align: center;
		}

		.skills-logos img{
			width: 20%;
			margin-left: 7%;
			margin-bottom: 30px;
		}

		.img-me{
			display: block;
		}
		/*------ header -----*/
		.for-sticky{ padding: 0; }
		.logo-nav { margin-left: 0;}
		.menu-button{margin-right: 15px;}
		.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button{
			left: -65px;
		}
		.ma-infinitypush-wrapper{ width: 200px; }
		.ma-infinitypush-wrapper	ul > li{
			width: 200px;
		}

		/*------- home ------*/
		#home p {width: 100%;}

		.grid-item {
			width: 100% !important;
			padding: 0;
		}

		/*----- portfolio -----*/



		/*---- blog -----*/
		.grid-item {width: 50%;}

		/*------- about -------*/
		.bg-about{min-height: 520px;}
		.wrap-about{
			min-height: 520px;
			padding-bottom: 10%;
			padding-left: 30px;
			padding-right: 30px;
		}
		.wrap-about	.head-quote{padding-top: 10%;}

		.content-right{ margin-top: 20px; }

		.text-grey{margin-bottom: 45px;}
		.skillst{ margin-top: 50px;}
		/*------ footer -----*/
		footer p{ text-align: center; }
		footer ul.social {
			margin-left: -40px;
			text-align: center;
		}
		footer ul.social li {
			padding: 0px 10px 0px 10px;
		}
		.card{
			margin-left: 10px;
			margin-right: 10px;
		}

		.hero-content h1{
			font-size: 30px;
		}

	}

	@media screen and (max-width: 992px){

	}

	@media screen and (min-width: 1024px){
		.content-right {
			margin-top: 20px;
			padding: 0 20px 0 60px;
		}
		#about,
		.bg-about{
			min-height: 800px;
			background-position: center -170px
		}
	}

	@media (min-width: 1200px){
		.container {
			width: 1250px;
		}
	}