<div class="ap_user_update  white-div">
	<div class="line-1">
		<div class="title-div">
			<img src="assets/images/settings-gray.png" class="title-icon">
			<h2 class="title-text">редактирование пользователя</h2>
		</div>
	</div>
	<div class="line-2 flex">
		<div set-background-img src="{{vm.user.photo}}" class="main-photo"></div>	
			<div class="flex-column">
				<div class="label-input">
					<label for="name">Имя</label>
					<input ng-model="vm.user.name" id="name" type="text" class="input">
				</div>
				<div class="label-input">
					<label for="name">Фамилия</label>
					<input ng-model="vm.user.surname" id="surname" type="text" class="input">
				</div>
			</div>
	</div>
	<div class="line-3 flex">
		<div class="label-input">
			<div class="label-input">
				<label for="email">E-mail</label>
				<input id="email" ng-model="vm.user.email" type="text" class="input">
			</div>			
		</div>
		<div class="label-input">
			<div class="label-input">
				<label for="phone">Телефон</label>
				<input id="phone" ng-model="vm.user.phone" type="text" class="input">
			</div>
		</div>
	</div>
	
	<div class="line-4  flex">
		<div class="label-input">
			<label for="country">Страна</label>
			<div class="dropdown">		
					<button class="input" bs-dropdown>{{vm.user.country.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('country',country)" ng-repeat="country in vm.countries">{{country.name}}</li>
					</ul>
			</div>
		</div>
		<div class="label-input">
			<label for="region">Регион</label>
			<div class="dropdown">		
					<button class="input" bs-dropdown>{{vm.user.region.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('region',region)" ng-repeat="region in vm.user.country.regions">{{region.name}}</li>
					</ul>
				</div>
		</div>
		<div class="label-input">
			<label for="city">Город</label>
			<div class="dropdown">		
					<button class="input" bs-dropdown>{{vm.user.city.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('city',city)" ng-repeat="city in vm.user.region.cities">{{city.name}}</li>
					</ul>
				</div>
		</div>
	</div>
	
	<div class="line-5  flex">
		<div class="label-input">
			<label for="status">Статус</label>
			<div class="dropdown">	
					<button class="input" bs-dropdown>{{vm.user.status.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('status',option)" ng-repeat="option in vm.lists.status.options">{{option.name}}</li>
					</ul>
				</div>
		</div>
		<div class="label-input">
			<label for="region">Дата рождения</label>
			<datepicker  date-week-start-day="1" datepicker-mobile="true"  date-format="dd MMMM yyyy">
				<input  ng-model="vm.user.birth_date" type="text" class="input">
			</datepicker>
		</div>
		<div class="label-input">
			<label for="region">Пол</label>
			<div class="dropdown">		
					<button class="input" bs-dropdown>{{vm.user.gender.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('gender',option)" ng-repeat="option in vm.lists.gender.options">{{option.name}}</li>
					</ul>
				</div>
		</div>
	</div>
	
	<div class="line-6  flex">
		<div class="label-input">
			<label for="referal">Реферал</label>
			<input id="referal" ng-model="vm.user.referal.email" type="text" class="input">
		</div>
		<div class="label-input">
			<label for="user_status">Статус пользователя</label>
			<div class="dropdown">		
					<button class="input" bs-dropdown>{{vm.user.user_status.name}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.changeUserInfo('user_status',option)" ng-repeat="option in vm.lists.user_status.options">{{option.name}}</li>
					</ul>
				</div>
		</div>
	</div>
	
	<div class="line-7">
		<button ng-click="vm.saveUser()" class="btn-green">
			<img src="assets/images/checked.png" alt="">
			Сохранить
		</button>
		<button ui-sref="users" class="btn-gray">
			<img src="assets/images/return.png" alt="">
			Выход
		</button>
	</div>
	
	
</div>