<div class="ap_payments  white-div">
	<div class="line-1 flex">
		<div class="title-div">
			<img src="assets/images/wallet-gray.png" class="title-icon">
			<h2 class="title-text">платежи</h2>
		</div>
 
		<input type="text" ng-model="vm.searchText" ng-change="vm.search()" class="input input-search" placeholder="Поиск ...">
	</div>
	<div class="line-2 flex">
		<p>Оплачено счетов на сумму: <span>{{vm.totalSumm}} руб</span> </p> 
	</div>
	<div class="line-3 flex">
		<p>Показать за период:</p>
		<datepicker date-week-start-day="1" datepicker-mobile="true"  date-format="dd-MM-yyyy">
			<input ng-change="vm.filter()" ng-model="vm.filters.dateFrom" placeholder="12-06-2017" type="text" class="input">
		</datepicker>

		<p>-</p> 
		<datepicker date-week-start-day="1" datepicker-mobile="true"  date-format="dd-MM-yyyy">
			<input ng-change="vm.filter()" ng-model="vm.filters.dateTo" placeholder="13-07-2017" type="text" class="input">
		</datepicker>
	</div>
	<table>
		<thead>
			<tr>
				<th>№</th>
				<th>Рекламодатель</th>
				<th>Дата создания счета</th>
				<th>Дата платежа</th>
				<th>Сумма </th>
				<th>Тип платежа</th>
				<th>Состояние</th>
				<th>Документы</th>
			</tr>   
		</thead>
		<tbody>
			<tr ng-repeat="payment in vm.payments | filter:search">
				<td>{{$index+1}}</td>
				<td  class="with-photo flex">
					<div set-background-img src="{{payment.photo}}" class="user-photo"></div>
					<span>{{payment.name |limitTo:22}}
						<span ng-if="payment.name.length>22">...</span>
					</span>
					
				</td>
				<td>{{payment.created_at | date:'yyyy-MM-dd HH:mm'}} </td>
				<td class="paid_at">
				 <span ng-if="payment.paid_at">{{payment.paid_at | date:'yyyy-MM-dd HH:mm'}}</span>
				 <div class="flex" ng-if="!payment.paid_at">
				 	<span  ng-click="vm.acceptPayment(payment,true)" class="green">Подтвердить</span>
				 	<span>/</span>
				 	<span  ng-click="vm.acceptPayment(payment,false)">Удалить</span>
				 </div>
				</td>
				<td class="summ">{{payment.summ}}</td>
				<td>{{payment.payment_type.name}}</td>
				<td class="status" ng-class="{'green':(payment.status.id==2)}">{{payment.status.name}}</td>
				<td><button ng-click="vm.bill(payment.id)" class="btn-green">Счет</button></td>
			</tr>

		</tbody>
	</table>
		<div class="pagination flex">
		<div class="limit dropdown">
			<span>Отрбражать: </span>
			<button bs-dropdown class="btn-gray">{{vm.limit}}</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-hide="vm.limit==25" ng-click='vm.changeLimit(25)'>25</li>
				<li ng-hide="vm.limit==50" ng-click='vm.changeLimit(50)'>50</li>
				<li ng-hide="vm.limit==100" ng-click='vm.changeLimit(100)'>100</li>
			</ul>
		</div>
		<div ng-click="vm.getNewData()" class="show-more btn-gray">
			<span><<</span>  <span >Показать еще</span> <span>>></span>
		</div>
		<div >
			Показано {{vm.payments.length}} из {{vm.amount}} объявлений
		</div>
	</div>	
</div>