<div class="withdraw_info  white-div">
	<div class="line-1 flex">
		<div class="title-div">
			<img src="assets/images/wallet-gray.png" class="title-icon">
			<h2 class="title-text">Информация о выводе денег</h2>
		</div>
	</div>
	<div class="line-2" >
		<div class="info">
			<span class="title">ID вывода</span>	
			<span class="value">{{vm.withdraw._id}}</span>
		</div>
		<div class="info">
			<span class="title">Id пользователя</span>	
			<span class="value">{{vm.withdraw.user}}</span>
		</div>
		<div class="info">
			<span class="title">Счёт ЯД или телефон</span>	
			<span class="value">{{vm.withdraw.dstAccount}}</span>
		</div>
		<div class="info">
			<span class="title">Создан</span>	
			<span class="value">{{vm.withdraw.created | date:'yyyy-MM-dd  HH:mm'}}</span>
		</div>
		<div ng-if="vm.withdraw.completedAt" class="info">
			<span class="title">Завершён</span>	
			<span class="value">{{vm.withdraw.completedAt | date:'yyyy-MM-dd  HH:mm'}}</span>
		</div>
		<div ng-if="vm.withdraw.errorCode" class="info">
			<span class="title">Код ошибки Яндекс кассы</span>	
			<span class="value">{{vm.withdraw.errorCode}}</span>
		</div>

		 <div ng-if="withdraw.yandexOperations && withdraw.yandexOperations.length > 0">
	    <div ng-repeat="operation in vm.withdraw.yandexOperations">
		      <div class="info">
						<span class="title">clientOrderId</span>	
						<span class="value">{{operation.clientOrderId}}</span>
					</div>
		      <div class="info">
						<span class="title">Метод запроса</span>	
						<span class="value">{{operation.method}}</span>
					</div>
		      <div class="info">
						<span class="title">Запрос в Яндекс</span>	
						<span class="value">{{operation.request}}</span>
					</div>
		      <div class="info">
						<span class="title">Ответ с Яндекса</span>	
						<span class="value">{{operation.result}}</span>
					</div>
		      <div ng-if="operation.prevResults && operation.prevResults.length > 0" class="info">
						<span class="title">Предыдущие ответы с Яндекса</span>	
						<span class="value" ng-repeat="prevResult in operation.prevResults track by $index">{{prevResult}}</span>
					</div>
	    </div>
	  </div>
		
		<div class="buttons">
			<button ng-show="!vm.confirm" ng-click="vm.confirm=true" class="btn-green" ng-if="vm.withdraw.statusName != 'moneyNotSent' || vm.withdraw.statusName != 'needAutoRecheck'">Переотправить запрос в ЯК</button>
			<div ng-if="vm.confirm">
				<p>Вы уверены что хотите переотправить последний запрос в ЯК?</p>
				<button ng-click="vm.confirm=false" class="btn-blue">Отменить</button>
				<button ng-click="vm.sendRequestToYandex()" class="btn-green">Отправить</button>
				</div>			
		</div>
	</div>
</div>