a{
  color: inherit;
}
a:hover{
  color: inherit;
  text-decoration: none;
}

.bg-img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-img-white{
  background-image: url(../assets/img/card-2.png);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-size: cover;
  opacity: .15;
  z-index: -1;
}

.bg-black{
  background: rgba(0,0,0,.5)
}

.bg-img-black{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,.15)
}

.slick-prev{
  left: -70px;
}

.side-block{
  background: #e38800;
  font-size: 24px;
  padding: 20px 0px 20px 50px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.side-block:after{
  content: "";
  position: absolute; 
  left: 100%; bottom: 0px;
}

.phone-number,
.phone-number:hover{
  color:inherit;
}

button{
  text-transform: uppercase;
  background: #e38800;
  color: #fff;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 25px;
  transition: .4s
}

button:hover{
  background-color: #ff9c08
}




header{
  padding:50px 30px;
  z-index: 2;
  position: relative;
}

header .logo{
 -webkit-animation: turn 4s infinite;
 animation: turn 4s infinite;
}

@media only screen and (max-width : 1200px){
  header .nav-list{
   font-size: 22px;
 }

 header .logo{
  width: 250px;
}

}
@media only screen and (max-width : 992px){
  header .nav-list{
   font-size: 20px;
 }

 header .logo{
  width: 200px;
}

}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: tateY(0deg);
  }
  50%{
    -webkit-transform: rotateY(360deg);
  }
  100%{
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes turn {
  0% {
    transform: rotateY(0deg);
  }
  75%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

header .nav-list{
  display: inline-block;
  width: 70%;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}


@media only screen and (max-width : 1200px){
  header .nav-list{
   font-size: 22px;
 }

 header .logo{
  width: 250px;
}

}
@media only screen and (max-width : 992px){
  header .nav-list{
   font-size: 20px;
 }

 header .logo{
  width: 200px;
}
}

.congrats {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color:#e38800;
  padding: 20px;
  padding-bottom: 60px;
}

.dropdown-item{
  font-weight: bold;
  font-size: 20px;
  color: #e38800;
}

.dropdown-item:hover{
  background-color: #e38800;
  color: #fff;
}