.map-block{
	height: 600px;
}

@media screen and (max-width: 768px) {
	.page-header{
		padding-bottom: 20px;
	}
	
	.map-block{
		height: 500px;
	}

	.variant-footer{
 		margin-top: 35px;
 	}
	
	.wrap {
	    min-height: 87%;
	}


}
@media screen and (max-width:600px) {
	.map-block{
		height: 450px;	
		margin-top: 0;
	}
	 

}