@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* -------------------    RESET.CSS ----------------------------*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: 0;
}



/* -------------------    RESET.CSS END----------------------------*/

@font-face {
  font-family: 'Boomboom';
  src: local('Boomboom'), url('../assets/fonts/boomboom.woff2') format('woff2'), url('../assets/fonts/boomboom.woff') format('woff'), url('../assets/fonts/boomboom.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family:'Courier New',sans-serif !important;
}
.slick-prev:before,
      .slick-next:before {
        color: #444;
      }

button,.follow{
  font-family: 'Boomboom';
  font-weight: 100!important;
  letter-spacing:1px;
}

.section {
  padding: 90px;
}


.section > .title {
  font-family: 'Boomboom';
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 50px;
  font-size: 3em;
}

.pink-button {
  padding: 15px 20px;
  text-transform: uppercase;
  background: #ffc500;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.2em;
}

.pink-button:hover {
  box-shadow: 0px 0px 10px #ffc500;
}

.scrollToTop {
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: fixed;
  right: 10px;
  bottom: 50px;
  border-radius: 50%;
  background: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  z-index: 9999999;
  transition:1s;
}

.scrollToTop:hover,
.scrollToTop:active,
.scrollToTop:visited,
.scrollToTop:focus {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

.header {
  color: #44515f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 40px;
  font-size: 20px;
  background: white;
  -webkit-transition: .8s;
  transition: .8s;
  box-shadow: 0px 3px 5px #6a6b6c;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}

.header_text {
  font-size: .7em;
  margin-left: 30px;
}

.logo {
  width: 130px;
  height: 40px;
}

.logo-text h3{
  text-align: center;
   font-family: 'Boomboom';
   font-size: 30px;
}

.section_1 {
  font-size: 16px;
  padding: 40px 80px;
  background: #2a4573;
  font-weight: bold;
  color: #ffffff;
}

.section_1 .title {
  color: #fff;
  font-size: 3em;
}

.section_1_bottom {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.main-img {
  margin-top: 80px;
  width: 550px;
  height: 300px;
}

.about {
  display: inline-block;
}

.about ul li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px;
  justify-content: flex-start;
}


.about .icon {
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.about-text {
  font-size: 0.875em;
  display: inline-block;
  margin-left: 10px;
}

.section_2 .title {
  color: #89ABE3;
}

.section_2_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clock {
  border: 2px solid #89ABE3;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 20px 0 20px 5%;
  width: 300px;
  -webkit-transition: .5s;
  transition: .5s;
}

.clock:hover {
  box-shadow: 0 0 15px #89ABE3;
}

.clock-img {
  width: 100%;
  height: auto;
}

.clock .title {
  color: #555;
  font-weight: bold;
  margin-bottom: 20px;
}

.clock .descr {
  margin-top: 15px;
  font-size: 14px;
  font-weight: lighter;
}

.clock .sale {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  font-size: 17px;
}

.clock .price {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.clock .price_original {
  color: #ff98b4;
  font-size: 14px;
  text-decoration: line-through;
}

.clock .price_sale {
  margin-top: 5px;
  color: #fe4f7f;
  font-size: 17px;
}

.bye {
  margin-top: 15px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  background: #A4D079; background: #A4D079;
  width: 100%;
}

.section_3 {
  background: #89ABE3;
  color: #fff;
}

.section_3_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_3_text .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.section_3_text .descr {
  font-weight: lighter;
}

.function {
  font-size: 16px;
  width: 30%;
  margin-left: 20px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  text-align: center;
}

.function>.title{
  margin: 15px;
}

.function .icon {
  width: 4em;
  height: 4em;
}

.section_4 {
  margin: 50px 0;
}

.section_4 > .title {
  color: #89ABE3;
}

.section_4_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}


.left-col {
  color: #666;
  margin-right: 20px;
}

.left-col .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.reason img{
  width: 48px;
  height: 50px;
}

.left-col .number {
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0  10px 0px 0;
  background: #fe4f7f;
  text-align: center;
  color: #ffffff;
}

.main-video {
  width: 650px;
  height: 350px;
}

.section_5 {
  background: #fff;
  color: #444;
  padding: 20px;
}

.slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 10px solid #89ABE3;
}

.slide img {
  width: 300px;
  height: 230px;
}

.slide_text .title {
  margin: 20px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.section_6 {
  padding-top: 250px;
  font-size: 16px;
  background: #fcfcfc;
  color: #444;
  text-align: center;
}

.section_6>.title{
  font-family:Sans, Helvetica, sans-serif;
  font-size:2.5em;
}

.section_6 .icon {
  font-size: 4em;
  margin-bottom: 20px;
  color: #fd1d5a;
}

.section_6 .text {
  line-height: 20px;
  width: 80%;
  margin: 0 auto;
}

.footer {
  padding: 20px;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #44515f;
}

.footer_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_8 {
  background: #ffc500;
  color: #444;
  text-align: center;
}

.section_8_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_8 .arrow {
  font-size: 30px;
  margin-left: 10px;
}

.section_8 .function {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: auto;
}

.section_8 .function > .title {
  margin: 25px 0px 5px;
}

.section_8 .function .iconka {
  width: 100px;
}

.section_9 {
  color: #ffffff;
  font-size: 16px;
  background:url("../assets/img/collage-min.jpeg");
  background-color: rgba(0,0,0,.5) ;
  background-size: cover;
  padding: 30px;
  position: relative;
  text-transform: uppercase;

}

.section_9_content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
}

.section_9 .background {
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  margin-bottom: 20px;
}

.insta-img {
  width: 70px;
}

.insta-text {
  font-size: 1.8em;
  text-transform: uppercase;
}

.follow {
  z-index: 10;
  margin-top: 20px;
  color: #ffffff;
  padding: 15px 25px;
  background: -webkit-linear-gradient(323deg, #390071, #ff7400);
  background: linear-gradient(127deg, #390071, #ff7400);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.follow:hover {
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
  margin: 0 auto;
  position: relative;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  min-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content .title {
  font-size: 20px;
  text-align: center;
  color: #608ed9;
  margin: 20px 0;
  font-weight: normal;
}

.error {
  display: none;
  text-align: center;
  color: red;
}

.congrats {
  display: none;
  text-align: center;
  font-size: 22px;
  color: #89ABE3;
  margin-top: 20px;
  padding: 20px;
}

/* The Close Button */

.close {
  color: #777;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.modal-header {
  padding: 15px;
}

.modal-body {
  padding: 20px;
}

.modal-body input {
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #89ABE3;
  padding: 7px;
}

.modal-footer {
  padding: 5px;
  color: white;
}


.rotate{
  transform:rotate(620deg);
  transition:1s;
}
/*==========  MEDIA  ==========*/

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .header_text {
    display: none;
  }

  .main-img {
    display: none;
  }

  .about-text {
    font-size: 1.25em;
  }

  .section_2 {
    margin-top: 0px;
  }

  .main-video {
    width: 420px;
    height: 250px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 820px) {

  .section_1_bottom{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content:center;
    -ms-justify-content:center;
  }

  .function {
    width: 45%;
  }

  .section_3_content .function .icon{
    margin: 15px 0px;
    width: 58px;
    height: 53px;
  }

  .section_4_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section_8_content,.section_3_content,.section_2_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock {
    width: 100%;
    margin-left: 0;
  }


  .function {
    width: 100%;
    margin-left: 0;
    text-align: center;
    font-size: 19px;
  }

  .function .icon {
    margin-bottom: 20px;
  }

  .section_8_content .arrow {
    display: none;
  }

  .section_8_content .function {
    margin-top: 40px;
  }

  .main-video {
    margin-top: 30px;
  }

  .insta-text{
    display: none;
  }

  .follow{
    margin-top: 30px;
  }

  .section_9>.title{
    margin-bottom: 40px;
  }

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 669px) {
  .header {
    font-size: 18px;
    padding: 10px;
  }


  .logo {
    width:120px;
    height: 40px;
  }

  .logo-text h3{
    font-size: 23px;
  }

  .section {
    padding: 50px;
  }

  .section_1 {
    font-size: 14px;
  }

  .section_4 {
    margin: 0;
  }

  .scrollToTop {
    width: 40px;
    height: 40px;
    font-size: 20px;
    bottom: 20px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer_copy {
    margin-bottom: 20px;
  }

  .footer .logo {
    display: none;
  }

  .section_6>.title{
    font-size: 27px ;
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 450px) {
  .section {
    padding: 30px;
  }

  .section_1 {
    font-size: 13px;
  }

  .main-video {
    width: 300px;
    height: 200px;
  }

  .section_9_content {
    font-size: 14px;
  }

  .insta {
    display: none;
  }
}

span.reason_text{
  margin-left: 10px;
}

.sertificate{
  background-image: url(../assets/img/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* ------------------  MEDIA END-------------------------------*/
