.ap_mass_notifications{
	min-width: 900px;
}

.ap_mass_notifications .row-1{
	justify-content: space-between;
	padding:25px 20px;
	-ms-align-items: center;
	align-items: center;
}

.ap_mass_notifications .row-1 .input{
	border: none
}

.ap_mass_notifications table td{
	max-width: 250px;
	padding: 10px;
}

.ap_mass_notifications table td:first-child{
	max-width: 150px;
	padding-left: 10px;
}

.ap_mass_notifications table .operations{
	padding-left: 10px;
	padding-right: 10px;
}
