<div class="ap_mass_notifications white-div">
		<div class="row-1 flex">
				<div class="title-div">
					<img src="assets/images/megaphone-(2).png" class="title-icon">
					<h2 class="title-text">массовые уведомления {{vm.which=='company'?'рекламодателей':'пользователей'}}</h2>
				</div>
				<input  type="text" ng-model="vm.searchText" ng-change="vm.search()" placeholder="Поиск" class="input input-search">
		</div>
		<table>
				<thead>
					<th>Тема</th>
					<th>Собщение</th>
					<th>Дата отправки</th>
					<th>Кол-во получателей</th>
					<th>Фильтры</th>
				</thead>
				<tbody>
				<tr ng-repeat="question in vm.questions">
					<td>{{question.theme}}</td>
					<td>{{question.message}}</td>
					<td>{{question.sended_at}}</td>
					<td >{{question.recieved_count}}</td>
					<td>{{question.filters}}</td>
				</tr>					
				</tbody>
			</table>
		<div class="pagination flex">
			<div class="limit dropdown">
				<span>Отрбражать: </span>
				<button bs-dropdown class="btn-gray">{{vm.limit}}</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-hide="vm.limit==25" ng-click='vm.changeLimit(25)'>25</li>
					<li ng-hide="vm.limit==50" ng-click='vm.changeLimit(50)'>50</li>
					<li ng-hide="vm.limit==100" ng-click='vm.changeLimit(100)'>100</li>
				</ul>
			</div>
			<div ng-click="vm.getNewData()" class="show-more btn-gray">
				<span><<</span><span >Показать еще</span><span>>></span>
			</div>
			<div >
				Показано {{vm.questions.length}} из {{vm.amount}} объявлений
			</div>
		</div>		
	</div>