<div class="ap_users  white-div">
	<div class="line-1">
		<div class="title-div flex">
			<img src="assets/images/user-gray.png" class="title-icon">
			<h2 class="title-text">пользователи</h2>
		</div>

		<a ui-sref="user_withdraws" class="btn-blue">
		 <img src="assets/images/wallet.png" alt="smartphone"> Вывод средств ({{vm.withdraws}})
		</a>	
	
	</div>
	<div class="line-2">
		<p>Всего пользователей - <span class="bolder">{{vm.total_amount}}</span> ({{vm.amount}})</p>	
	</div>
	<div class="line-3">
		<a ng-click="vm.isVisible=!vm.isVisible" ng-class="{'btn-green':!vm.isVisible,'btn-blue':vm.isVisible}" href="">
		 <img src="assets/images/{{vm.isVisible?'close.png':'filter.png'}}" alt=""> {{vm.isVisible?"Закрыть фильтры":"Открыть фильтры"}}
		</a>	
	</div>
	<div class="line-4" ng-show="vm.isVisible">
		<div class="flex row-1">
			<div class="item" ng-repeat="(listName,listVal) in vm.lists">
				<label>{{listVal.label}}</label>
				<div class="dropdown">		
					
					<button class="input" bs-dropdown>{{vm.filters[listName].name||'Без фильтра'}}</button>
					<ul  class="dropdown-menu" role="menu">
						<li ng-click="vm.addToFilter(listName,{})">Без фильтра</li>
						<li ng-repeat="option in listVal.options"  ng-click="vm.addToFilter(listName,option)">{{option.name}}</li>
					</ul>
				</div>
			</div>
			<div class="item">
				<label  for="">Страна</label>
				<div class="dropdown">		
					<!-- просто ад -->
					<button ng-click="vm.showCountries=!vm.showCountries" ng-class="{'with-close':vm.showCountries}" class="input">
					{{vm.selectedCountryCount||
					'Все' | ending}}
					</button>
					<ul class="dropdown-menu"  ng-show="vm.showCountries" >
						<li  ng-click="vm.selectAllZones()">
							<label>Все</label>
						</li>	
						<li  ng-repeat="country in vm.countries" ng-init="country.checked=false">
							<input  class="checkbox-custom" ng-class="{'active':country.checked}"  type="checkbox">
							<label ng-click="vm.addCountry(country)" >{{country.name}}</label>
							<ul ng-show="country.checked">
								<li ng-repeat="region in country.regions" ng-init="region.checked=false">
									<input class="checkbox-custom" ng-class="{'active':region.checked}" type="checkbox">
									<label ng-click="vm.addCountry(region)" >{{region.name}}</label>
									<ul ng-show="region.checked">
										<li ng-repeat="city in region.cities" ng-init="city.checked=false">
											<input class="checkbox-custom" ng-class="{'active':city.checked}" type="checkbox">
											<label ng-click="vm.addCountry(city)" >{{city.name}}</label>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<!-- просто ад -->
				</div>
			</div>
		</div>
		<div class="flex row-2">
			<div class="item">
				<label  for="">Возраст</label>
				<input ng-model="vm.filters.age_from"  type="number" placeholder="0" max="100" min="0" class="input">
				
				<span>-</span>
				<input ng-model="vm.filters.age_to" type="number" placeholder="100" max="100" min="0" class="input">
				
			</div>
			<div class="item">	
				<label  for="">Сумма на счету</label>
				<input ng-model="vm.filters.balance_from" type="number" placeholder="0"  min="0" class="input">
				
				<span>-</span>
				<input ng-model="vm.filters.balance_to" type="number" placeholder="100" min="0" class="input">
				
			</div>
			<div class="item">
				<label class="result">Найдено <span class="bolder blue">{{vm.amount}}</span> (пользователей)</label>
			</div>
			<div class="item" >
				<button class="btn-green"><img src="assets/images/mail.png" alt="">Отправить сообщение</buton>
			</div>
		</div>
		<div class="row-3">
			<button ng-click="vm.filter()" class="btn-green"><img src="assets/images/magnifying-glass-white.png" alt="">Найти</button>
			<button ng-click="vm.clearFilters()" class="btn-gray"><img src="assets/images/trash-gray.png" alt="">
			Сбросить фильтр</button>
		</div>

	</div>
	<div class="line-5 flex">
		<input placeholder="Поиск пользователей ..." ng-model="vm.searchText" ng-change="vm.search()" type="text" class="input">
	</div>
	<table>
		<thead>
		<tr>
			<th>Пользователь</th>
			<th>Телефон</th>

			<th>Email</th>
			<th>Город</th>
			<th>Статус</th>
			<th>Регистрация</th>
			<th>На <br> счету</th>
			<th class="friends">Друзей 
				<div class="flex" >
					<span>1</span>
					<span>2</span>
					<span>3</span>
				</div>
			</th>
			<th>Действия</th>
		</tr>			
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.users">
				<td  class="with-photo flex">
					<div set-background-img src="{{user.photo}}" class="user-photo"></div>
					<span>{{user.name |limitTo:20}} 
						<span ng-if="user.name.length>20">...</span>	
					</span>
				</td>
				<td>{{user.phone}}</td>
				<td>{{user.email |limitTo:20}}
					<span ng-if="user.email.length>20">...</span>
				</td>
				<td>{{user.city.name|limitTo:20}}<span ng-if="user.city.name.length>20">...</span></td>
				<td>{{user.status.name}}</td>
				<td>{{user.registrated_at | date:'yyyy-MM-dd'}}</td>
				<td >{{user.balance}}</td>
				<td>
				<span ng-repeat="line in user.lines" class="line" >{{line.amount}}</span>
				</td>
				<td class="operations">
					<div ui-sref="user_update({id:user.id})" class="btn-gray">
						<i class="fa fa-paint-brush"></i>
						<span class="my-tooltip reverse">Редактировать</span>
					</div>	
					<div ui-sref="user_withdraws({id:user.id})" class="btn-gray">
						<i class="fa fa-credit-card"></i>
						<span class="my-tooltip">Платежи</span>

					</div>
					<div ui-sref="ticket({id:user.id})"  class="btn-gray">
						<i class="fa fa-comments-o"></i>
						<span class="my-tooltip reverse">Обратная связь</span>

					</div>
					
				</td>
			</tr>
			
		</tbody>
	</table>
	<div class="pagination flex">
		<div class="limit dropdown">
			<span>Отрбражать: </span>
			<button bs-dropdown class="btn-gray">{{vm.limit}}</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-hide="vm.limit==25" ng-click='vm.changeLimit(25)'>25</li>
				<li ng-hide="vm.limit==50" ng-click='vm.changeLimit(50)'>50</li>
				<li ng-hide="vm.limit==100" ng-click='vm.changeLimit(100)'>100</li>
			</ul>
		</div>
		<div ng-click="vm.getNewData()" class="show-more btn-gray">
			<span><<</span>  <span >Показать еще</span> <span>>></span>
		</div>
		<div >
			Показано {{vm.users.length}} из {{vm.amount}} пользователей
		</div>
	</div>	
</div>